<div id="nav">
    <div class="container">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
            
</div>   
        
<div class="topdiv">
    <div class="container">
        <h1> {{title}} <img src={{imgsrc}} id="headerimg" alt=""> </h1>
        <div class="header_line"></div>
    </div>
</div>