html, body {
    margin: 0;
}

body {
    font-family: arial;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}


#nav {
    background-color: rgb(56, 56, 56);
    width: 100%;
    height: 40px;
}

#nav a {
    color: rgb(197, 197, 197);
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    margin-right: 30px;
    padding: 5px;
}

#nav a:hover {
    color: white;
}

.container {
    width: 42%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}

.topdiv .container {
    height: 200px;
    margin: auto;
    border-radius: 5px;
}


h1 {
    color: rgb(56, 56, 56);
    font-size: 70px;
    margin: auto;
    padding-top: 30px;
}

img {
    width: 250px;
    border-radius: 5px;
}

#headerimg {
    width: 70px;
}

#toggle {
    display: none;
}

.header_line { 
    margin: 30px 5px;
    height: 2px;
    background: black;
    background: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(71, 68, 68)), color-stop(0.2, gray), color-stop(0.4, purple), color-stop(0.5, red), color-stop(0.6, purple), color-stop(0.2, gray), color-stop(1, rgb(71, 68, 68)) );
}

.weather_line { 
    margin: 65px 0;
    height: 2px;
    background: black;
    background: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(175, 119, 119)), color-stop(0.2, gray), color-stop(0.4, rgb(73, 73, 73)), color-stop(0.5, black), color-stop(0.6, rgb(73, 73, 73)), color-stop(0.2, gray), color-stop(1, rgb(182, 193, 221)) );
}

p {
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}

.footer {
    color: #888888;
    border-top: 1px solid #797979;
    margin: 16px 5px;
    padding: 16px 0;
    font-size: 30px;
    font-weight: 900;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 7px;
    margin-left: 5px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
    border-radius: 5px;
}